.bg-default-image {
   background-image: url("/images/default.jpg");
   background-size: 100%;
   height: 150px;
   text-shadow: 3px 3px 3px red;
}

.logo {
   text-shadow: 2px 2px red;
}

.active {
   background-color: navy;
}

.pointer {
   cursor: pointer;
}
